@-moz-document domain(t-square.gatech.edu) {
  /* GT Colors reference

  GOLD PMS124: #E0AA0F, rgb(224,170,15);
  NAVY_BLUE PMS539: #002B45;
  METALLIC_GOLD PMS874: #8B6f4E;
  BLACK: black; */

  body {
    font-family: Roboto, sans-serif !important;
  }
  /* Message of the day zone. Super stubborn in-line stylings */
  p.motdItemTitle, #gtMOTDField, .motdContainerDiv {
    font-family: Roboto, sans-serif !important;
  }

  h1 {
    color: #E0AA0F;
  }

  div.title h2 {
    color: #E0AA0F !important;
    font-family: Roboto, sans-serif !important;
    /*font-size: 24px !important;*/
    font-weight: 400 !important;
  }

  #content > div > div {
    border-color: #E0AA0F !important;
    border-width: 1px !important;
  }

  /* The black bar at the top */
  #siteNavWrapper {
    height: 40px;
  }
  #mastHead:after {
    content: "\A \ \ \ TSquare";
    margin-left: 20px;
    font-size: 24px;
    font-weight: 600;
    color: white !important;
    line-height: 12px;
    white-space: pre;
  }
  #portalContainer #mastHead, .siteNavWrap, #mastLogin {
    background-color: black !important;
    background-image: none !important;
    text-decoration: none !important;
    font-size: 14px;
  }

  /* The gold bar containing the site links */
  .siteNavWrap {
    background-color: #E0AA0F !important;
  }

  /* Logout button */
  #loginLink1 {
    border: 0px none !important;
    background-color: #E0AA0F !important;
    color: white !important;
    text-decoration: none !important;
    font-weight: 400;
    font-size: 16px;
  }

  /* This is the left sidebar */
  #toolMenuWrap {
    border-right: 1px solid #E0AA0F;
  }
  #toolMenu, #toolMenu ul {
    background-image: none !important;
    font-size: 14px !important;
    padding-top: 0;
  }
  #toolMenu li {
    background-color: white !important;
    font-weight: 300 !important;
    margin: 2px !important;
    transition: background-color 2s !important;
    border: 0px none !important;
  }
  #toolMenu a {
    text-decoration: none !important;
    moz-text-decoration: none !important;
    background-image: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  /* The ugly button that toggles the left sidebar */
  #toggleToolMenu {
      display: none !important;
  }
  .selectedTool > a > span {
    font-weight:800 !important;
  }

  /* The top navbar */
  #siteLinkList li {
    background-image: none !important;
    background-color: white !important;
    background: none !important;
    border: 1px black !important;
    font-size: 14px !important;
    transition: background-color 2s !important;
  }
  #siteLinkList a, span {
    background-image: none !important;
    background-color: white !important;
    background: none !important;
    text-decoration: none !important;
    moz-text-decoration: none !important;
    font-weight: normal !important;
  }
  #siteLinkList > li > a {
    border: 0px none !important;
  }
  #siteLinkList .selectedTab {
    background-color: #002B45 !important;
  }
  #siteLinkList .selectedTab > a > span {
    color: white !important;
  }
  /*I don't like this anymore
  #siteLinkList li:hover {
      background-color: #8B6f4E !important;
  }*/

  /* Tables */
  table.lines td {
    border: 0px none !important;
  }
  table.lines tr {
    transition: background-color 1s;
  }
  table.lines tr:hover {
    background-color: rgba(224,170,15,0.25) !important;
  }
  table.lines td:nth-last-child(-n+2), #modified, #size {
    text-align: right !important;
  }
  table td a {
    text-decoration: none !important;
  }
  .listHier th a:link {
    text-decoration: none !important;
  }

  /* Help icon. Let's hide it, we don't need help! */
  .portletTitle > .action > a {
    display: none;
  }

  li.firstToolBarItem {
    display: none !important;
  }

  /* Upload-Download Multiple Resources button */
  .navIntraTool li span a {
    padding-left: 4px !important;
    padding-right: 4px !important;
    background-color: #8B6f4E !important;
    color: white !important;
  }
  .navIntraTool a:hover {
    background-color: #8B6f4E !important;
    color: white !important;
  }
  /* Copy button */
  /* They handle disabling really poorly
      When it first loads, disabled="disabled"
      but then afterwards, it has class="enabled/disabled" and disabled=""
      This makes me sad */
  #copy-button {
    border: 0px none !important;
    padding: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    cursor: not-allowed;
    visibility: hidden;
  }
  #copy-button.enabled {
    background-color: #8B6f4E !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
    visibility: visible;
  }

  /* Footer copyright */
  .sakaiCopyrightInfo {
    color: #8B6f4E !important;
  }
  /* Shameless advertising */
  #footer:after {
    content: "\A Styling by Kurt Carpenter \A";
    color: #8B6f4E;
    white-space: pre;
    font-size:12px;
  }
}
